body,
html {
  background-color: var(--layout-background-color);
}

h1 {
  &:first-letter {
    border-bottom: 4px solid var(--text-primary-color);
  }
}

h2 {
  &:first-letter {
    border-bottom: 4px solid var(--text-basic-color);
  }
}
