@forward '@nebular/theme/styles/theming';
@use '@nebular/theme/styles/theming' as *;
@use '@nebular/theme/styles/themes/dark';

$nb-themes: nb-register-theme(
  (
    color-primary-100: #eefdd2,
    color-primary-200: #dafba6,
    color-primary-300: #bdf579,
    color-primary-400: #a0eb56,
    color-primary-500: #75df23,
    color-primary-600: #58bf19,
    color-primary-700: #40a011,
    color-primary-800: #2a810b,
    color-primary-900: #1c6b06,
    color-success-100: #e2fcdf,
    color-success-200: #c0fabf,
    color-success-300: #9cf0a3,
    color-success-400: #7fe191,
    color-success-500: #56ce78,
    color-success-600: #3eb16a,
    color-success-700: #2b945d,
    color-success-800: #1b7750,
    color-success-900: #106247,
    color-info-100: #ccf3fd,
    color-info-200: #9be2fc,
    color-info-300: #68c8f6,
    color-info-400: #42aded,
    color-info-500: #0984e2,
    color-info-600: #0666c2,
    color-info-700: #044ca2,
    color-info-800: #023683,
    color-info-900: #01266c,
    color-warning-100: #fefad2,
    color-warning-200: #fef4a6,
    color-warning-300: #fdec7a,
    color-warning-400: #fbe358,
    color-warning-500: #f9d622,
    color-warning-600: #d6b418,
    color-warning-700: #b39311,
    color-warning-800: #90730a,
    color-warning-900: #775d06,
    color-danger-100: #ffecd8,
    color-danger-200: #ffd4b2,
    color-danger-300: #ffb78b,
    color-danger-400: #ff9b6f,
    color-danger-500: #ff6c3f,
    color-danger-600: #db4a2e,
    color-danger-700: #b72d1f,
    color-danger-800: #931614,
    color-danger-900: #7a0c11,
  ),
  default,
  dark
);
