<ng-container *ngIf="{items: items$ | async, filter: filter$ | async, pagination: pagination$ | async} as vm">
  <h1 class="fw-semibold mb-4">{{ 'LOCATIONS' | transloco }}</h1>
  <app-filter [filter]="vm.filter" (filterChange)="onFilterChange($event)"></app-filter>
  <lib-locations-list [items]="vm.items"></lib-locations-list>
  <lib-paginator
    [totalItems]="vm.pagination.total"
    [totalPages]="vm.pagination.pages"
    [currentPage]="vm.pagination.page"
    [ofText]="'OF' | transloco"
    (changePage)="onPageChange($event)"></lib-paginator>
</ng-container>
